@import 'vars';
@import 'media';

body {
    background-color: $ui_bg;
}

.ui-link {
    color: $ui_base;
    text-decoration: none;
    font: {
        weight:700;
    }
    &:hover {
        color: $ui_accent;
        text-decoration: underline;
    }
}

.ui-navbar {
    background-color: $ui_base;
}

.ui-dropdown {
    background-color: $ui_base;
}

.ui-dropdown-item {
    background-color: $ui_base;  
    color:white;
    &:hover {
        background-color: $ui_accent;
    }
}

.ui-img-grade {
    width: 40vw;
}

.ui-img-icon {
    width: 40px;
}

.ui-contact-info {
    max-width: 400px;
}

.carousel {
    width: 60vw;
    margin: auto;
}

.img-gallery {
    width: 20vw;
    transition: all 0.5s;
    &:hover {
        transform:scale(130%);
    }
}

.home-bottom-text {
    width: 40vw;
}

.aboutus-info {
    width: 65vw;
}

